{% extends 'index.html' %}

{% block body %}
  
      
<div class="carousel-inner">
    <div class="carousel-item active">
<img src="https://source.unsplash.com/1700x600/?nature,river" class="d-block w-100" alt="...">
<div class="carousel-caption d-none d-md-block">
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Make your reservation</h1>
                    </div>
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="form-group"> <input class="form-control"  name = "name" id = "name" type="text" placeholder="Enter your name..."> <span class="form-label">Name</span> </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <input class="form-control"  name = "Phone" id = "Phone" type="tel" placeholder="Enter you Phone"> <span class="form-label">Phone</span> </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <input class="form-control"  name = "email" id = "email" type="email" placeholder="Enter your Email"> <span class="form-label">Email</span> </div>
                            </div>
                            
                        </div>
                        <div class="form-btn"> <button class="submit-btn">Submit</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock body %}